

table,td,th{
    grid-area: auto;
    border: 1px solid grey;
    text-align: center;
    
  }
  
  
  .course {
      grid-area: auto;
      padding: 1em;
      text-align: justify;
  }
  
  body {
      background-color: #8EC6F0;
      font-family: sans-serif;
      grid-area:
  }
  main {
      margin-left: 5%;
      margin-right: 5%;
      font-family: sans-serif;
      display: grid;
      grid-template-areas: auto;
      
      
  }
  
  #figA {
      text-align: center;
      grid-area: auto;
  
  }
  
  h1 {
      font-family: serif;
      text-align: center;
      font-size: 2em;
      border-bottom: 1px;
      margin-top: 30px;
      grid-area: auto;
      
  }
  
  h2 {
      font-family: serif;
      font-size: 1.5em;
      text-align: center;
      margin-top: 20px;
      grid-area: auto;
  }
  
  h3 {
      text-align: center;
      font-family: serif;
      grid-area: auto;
  }
  
  footer {
      text-align: center;
      font-family: sans-serif;
      grid-area: auto;
  }
  